@import url('https://fonts.googleapis.com/css?family=Ubuntu');



*{
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}


.top-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
    padding:0 40px 0 40px;
}

.top-area h4{
    color: whitesmoke;
    font-size: 20px;
}

.top-area .fa-bars{
    color: whitesmoke;
    font-size: 20px;
}
svg{
    fill: whitesmoke;
    width: 400px;
    stroke: black;   
    stroke-width:0.7;
    stroke-linecap: round;
}




