@import url('https://fonts.googleapis.com/css?family=Ubuntu');



*{
    box-sizing: border-box;

}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: url("https://images.pexels.com/photos/833317/pexels-photo-833317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
}


.container{
    height: 80%;
    width: 70%;
    background: url("https://images.pexels.com/photos/833317/pexels-photo-833317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: 50% 35%;

}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 50px;
}

.line{
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    position: relative;
  
    
}

.line::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    top: 10px;
   

}


.line::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    bottom: 10px;
 

}


.text{
    height: 200px;   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;

}


.text h1{
    font-size: 100px;
    
}

.text p{
    position: absolute;
    bottom: -10px;
}

.btn-container{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 30px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background-color: rgb(163, 120, 204);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: whitesmoke;

}


.active .line::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    top: 10px;
    transform: rotate(815deg) translateY(-0.5px) translateX(-9px);
   

}


.active .line::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    bottom: 10px;
        transform: rotate(815deg) translateX(11px) translateY(-2px);
    
 
}

.active .line{
    height: 3px;
    width: 25px;
    background-color: beige;
    border-radius: 3px;
    position: relative;
    transform: rotate(-765deg) translateY(14px) translateX(-10px);
    
}