* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1623779334213-1fb9f70c4a4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
  background-size: cover;
  position: relative;
  font-family: "Lato", sans-serif;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(145, 144, 233, 0.5);
    height: 100vh;
    width: 100%;
  }

  .container {
	//   position: relative;
    background-color: #f0f0f2;
    height: 80%;
    width: 100%;
    border: 2px solid white;
    margin: 100px 30px 0 30px;
    z-index: 100000;
    display: grid;
    grid-template-columns: 1.2fr 1fr;

    & .col-1 {
      padding: 20px;

      h1 {
        font-size: 25px;
      }

      img {
        height: 60px;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      .rec-container {
        padding: 10px;
        margin-top: 50px;
        width: 100%;

        h2 {
          font-size: 20px;
        }

        .con {
          display: flex;
          justify-content: space-between;
          height: 50px;
          padding: 10px;
        }

        hr {
          border-top: 1px dotted black;
        }
      }
    }

    & .col-2{
	    height: 100%;
	    width: 100%;
	    position: relative;
	img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: -100px;
		
	}
    }
  }
}
