@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, #b4b2be, #dcdbe2);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container-card {
  background: #68676e;
  display: flex;
  width: 700px;
}

.left-container {
  flex: 1.2;
}

.logo {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 10px 10px 10px;
  margin: 20px 10px 10px 10px;
}

.fa-undo-alt {
  font-size: 13px;
}

.fa-cc-visa {
  font-size: 40px;
  color: #4c4863;
}

.total-left-card {
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.total-left-card h3 {
  font-size: small;
}

.name-left-card {
  padding-left: 10px;
  margin-left: 10px;
}

.name-left-card h3 {
  font-size: small;
}

.name-left-card h1 {
  margin-bottom: 20px;
}

.right-container {
  position: relative;
  flex: 1.5;
  z-index: 222;
  width: 100%;
}

.right-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url("https://images.pexels.com/photos/2169276/pexels-photo-2169276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.expir-right-card {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  margin: 35px 10px 10px 10px;
}

.right-container div label {
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}

.right-container div input {
  background: transparent;
  border: none;
}

.right-container div input:hover {
  border: solid 1px gold;
  cursor: pointer;
}

/* .right-container div {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  margin: 35px 10px 10px 10px;
} */

.cardnumber-right-card{
    display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  margin: 35px 10px 10px 10px;
}

.cardnumber-right-card input[type = text]{
  height: 40px;
}

.cardnumber-right-card input::placeholder{
  font-size: 8px;
  color: rgb(8, 8, 8);

}

.cvc-right-card{
      display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  margin: 35px 10px 10px 10px;
}


.box-cvc{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cvc-right-card .box-cvc input[type=text]{
  width: 20px;
}



/* date picker pseudo style change image arrow down */

/* input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('./icons8-expand-arrow-100.png');
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border-width: thin;
} */

/* this is changing date picker icon to font awesome  */

input[type="date"] {
  position: relative;
  padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

/* 
input[type="date"]::-webkit-datetime-edit-text{
  display: none;

}

input[type="date"]::-webkit-datetime-edit-month-field{
display: none;
}


input[type="date"]::-webkit-datetime-edit-year-field{
display: none;
}


input[type="date"]::-webkit-datetime-edit-day-field{
display: none;
} */

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f063";
  /* This is the arrow down icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: #999;
}
