@import "reset";
@import "variables";
body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}
.container {
	width: 550px;
	height:550px;
	background-color: antiquewhite;
  nav {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-color;
  }
}
