@import "reset";
@import "variables";
@import "utilities";
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container {
  width: 550px;
  height: 550px;
  overflow:hidden;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }

  .card-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height:400px;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .card{
      display: flex;
      align-items: center;

    .number {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: rgb(218, 214, 214);
    }
    }

    .text {
      .star-area {
        display: flex;
        margin-top: 5px;

        .star {
          color: $text-color;
          margin-left: 5px;
        }

        .fa-star {
          -webkit-text-fill-color: gold;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }

      }

        .btn{
          margin-right: 5px;
          background-color: $secondary-color;
          border: none;
          padding: 5px;
          margin-top:5px;
          border-radius: 5px;
          
        }
    }
  }
}
