@import url('https://fonts.googleapis.com/css?family=Ubuntu');



*{
    box-sizing: border-box;

}
body{
    /* background-image: linear-gradient(90deg, #7d5fff, #7158e2); */
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


