@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
}

aside {
  background-image: linear-gradient(90deg, #62b2ff 0%, #6e9aff 100%);
}

.aside__head{
	padding: 6.7vh 2.73vw;
}


.aside__mid{
	padding: 3.8vh 1vw 3.8vh 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;

}

#select{
	height:6vh;
	width: 6vw;
	outline: none;
}

.fa-trash-alt{
	padding-left: 1vw;
	font-size:5vh;
	cursor: pointer;
}

.fa-trash-alt:hover{
	color: rgb(197, 101, 101);
}

.aside__body{
	border: solid 5px black;
	height:60vh;
	margin-top:5vh;
	background-color: antiquewhite;
	max-width: 30vw;
}

.aside__list{
	padding: 2vh 2vw;
	display: flex;
	justify-content:center;
	transition: background-color 1s ease-in;
	font-size:3.4vh;
	max-width:28vw;
	padding: 5px;
	flex-wrap: wrap;
}

.aside__list i{
	max-width:8vw;
	margin-right: 1vw;
}

.aside__eachlist{
	display: flex;
	flex: 1;
}

.aside__eachlist i{
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 7vw;
}
.aside__list:hover{
	background-color:aliceblue
}

.fa-minus-square{
	font-size:5vh;
	padding-left: 2vw;
	cursor: pointer;
}

.fa-minus-square:hover{
	color: rgb(197, 101, 101);
}

.fa-music{
	padding-left: 2vw;
}

main {
  display: flex;
  justify-content: space-between;
}

.content__con{
	width: 70vw;
	padding: 0vh 5vw 5vh 5vw;
}

header{
	width: 100%;
	padding-top: 2vh;
	display: flex;
	justify-content: center !important;
	align-items: center;
}

.header__con{
	width:25vw;
	padding-right: 2vw;
}

.header__con__artist,.header__con__song{
	height: 7vh;
	background-color:antiquewhite;
	width:100%;
	font-size:4vh;
	border: none;
}

.header__con__artist:focus,.header__con__song:focus{
	background-color:aliceblue;
	border: solid 4px #62b2ff;
	outline: none;
}

.fa-search{
	cursor: pointer;
	font-size: 5vh;

}

.content__con__addcol{
	display: flex;
	justify-content: flex-end;
	padding-top: 5vh;
}

.fa-plus-circle{
	font-size:5vh;
	padding-left: 1vw;
	cursor: pointer;
}





.content__con__lyric{
	margin-top:3vh;
	height:70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: solid 4px black;
	overflow:scroll;

}

.content__con__lyric img{
	height: 40vh;
	width:20vw;

}

.content__con__lyric h1{
	padding-top:4vh;
}


.new_p{
	line-height:7vh;
	padding: 5px;
	max-height: 100%;
}

